{% extends 'header.html' %}
<body>
{% block content %}
</div>
<div class="nav">
    <h2>– ENGLAND –</h2>
    <table class="content-nav"></table>
</div>
<div class="content" style="margin-top: 170px ;">
    <div class="clubs">
        {% for club in clubs %}
        <div class="club">
            <a href="../country-clubs.html">
                <img src="{{club.logo.url}}" alt=""/>
                {{club.nom}}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="footer state-footer">
    <a href="https://www.facebook.com/topfootballtransfers/">
        <div>
            <i class="fa-brands fa-facebook-f"></i> &nbsp;
            <h3>facebook</h3>
        </div>
    </a>
    <a href="https://www.instagram.com/topfootballtransfers/">
        <div>
            <i class="fa-brands fa-instagram"></i> &nbsp;
            <h3>Instagram</h3>
        </div>
    </a>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
</div>
{% endblock %}
