{% extends 'header.html' %}
<body>
{% block content %}
        <hr>
        <h2><a href="#">Transfers archive</a></h2>
      </div>
      <div class="nav">
        <h2>– TRANSFERS ARCHIVE –</h2>
        <table class="content-nav"></table>
      </div>
      <div class="content">
        <div class="stats">
            {% for mavsum in mavsumlar %}
          <div>
            <a href="/mavsum/{{mavsum|slice:':2'}}/">Season 20{{mavsum}}</a>
          </div>
            {% endfor %}
        </div>
      </div>
      <div class="footer state-footer"> 
        <a href="https://www.facebook.com/topfootballtransfers/">
          <div>
            <i class="fa-brands fa-facebook-f"></i> &nbsp;
              <h3>facebook</h3>
          </div>
        </a>
        <a href="https://www.instagram.com/topfootballtransfers/">
          <div>
            <i class="fa-brands fa-instagram"></i> &nbsp;
            <h3>Instagram</h3>
          </div>
        </a>
      </div>
    </div>
{% endblock %}
  </body>
  <script src="../js/main.js"></script>
</html>
